<div class="example-container">
    <div class="buttons-container"></div>
    <div class="my-trees-title"><%=translations.myTreesTitle%></div>
    <div class="trees-list-container"></div>
    <div class="nodes-container"></div>
</div>
<script>
    new NodesExample(".example-container",".trees-list-container", ".nodes-container");
</script>